{% extends 'layouts/admin-base.twig' %}

{% block title %}Crear Autor{% endblock %}

{% block content %}


    <div class="container mt-4">
        <h1>Editar Autor</h1>
        
        <form method="post" action=" {{ url_for('autor.update',{'id':  autor.id } ) }} ">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" value="{{ autor.display_name }}" required>
            </div>
                                  
            <div class="mb-3">
                <label for="cargo" class="form-label">Cargo</label>
                <input type="text" class="form-control" id="cargo" name="cargo" value="{{ autor.charge }}"  required>
            </div>
                       
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <a href="{{ url_for('autor.index') }}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>


{% endblock %}